/* Validated in 16.01.2024 at 10:42 */
/* Content is in alphabetical order. */

a {
    background-color: rgb(0, 31, 31);
    color: rgb(0, 255, 255);
    font-family: monospace;
}

a:hover {
    color: rgb(0, 31, 31);
    background-color: rgb(0, 255, 255);
}

a:hover:visited {
    color: rgb(31, 0, 0);
    background-color: rgb(255, 0, 0);
}

a:visited {
    color: rgb(255, 0, 0);
    background-color: rgb(31, 0, 0);
}

body {
    background-color: rgb(31, 27, 0);
    color: rgb(255, 223, 0);
    font-family: sans-serif;
    padding: 10px;
}

footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

h1 {
    color: rgb(255, 255, 0);
    font-family: serif;
    padding: 15px;
}

img {
    border-style: inset;
    max-width: 500px;
}
